<div class="card mt-8" style="border: none;">
    <div class= "card-body">
      <ul class= "list-group" mx-3>
        <li class="list-group-item">
          Name : <span class=" fw-bold">{{githubProfile.name}}</span>
        </li>
        <li class= "list-group-item">
          Bio : {{githubProfile.bio}}
        </li>
        <li class= "list-group-item">
          Location : {{githubProfile.location}}
        </li>
        <li class= "list-group-item">
          Twitter : {{githubProfile.twitter_username}}
        </li>
        <li class= "list-group-item">
          Company : {{githubProfile.company}}
        </li>
      </ul>
   </div>
</div>
